.btn-bordered {
  box-sizing: content-box;
  border: 1px solid #aaaaaa90;
}

a.breadcrumb::before {
  color: currentColor;
}

body {
  color: #ffffff;
  background: #131415;
  font-family: 'Montserrat';
}

.page-footer,
.footer-copyright {
  background-color: #131415 !important;
}

.table-of-contents a.active {
  color: #ffffff;
  border-left-color: #ffffff;
}

.table-of-contents a {
  color: #999999;
}

.table-of-contents a:hover {
  border-left-color: #ffffff;
}

.card {
  background: #121212;
}

a.user {
  margin-bottom: 16px;
  color: #ffffff;
}

img.avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  transition: 0.15s all ease-out;
}

img.avatar:hover {
  /* width: 128px;
  height: 128px;
  border-radius: 4px;
  margin-top: -48px;
  margin-left: -48px; */

  transform: scaleX(4) scaleY(4);
}

span.username {
  margin-left: 16px;
}

span.dotted-link {
  border-bottom: 1px dotted #555555;
  transition: 0.3s all ease-out;
}

span.dotted-link:hover {
  border-bottom: 1px solid #ffffff;
}

.btn.cta {
  transition: 0.15s all ease-out;
  font-weight: 500;
  border-radius: 4px;
}

.btn.cta:hover {
  transform: scaleX(1.1) scaleY(1.1);
}

/* -- root kings colors -- */
.root-light {
  background: #ffffff;
}
.root-yellow {
  background: #ffbd4a;
}
.root-orange {
  background: #af572d;
}
.root-green {
  background: #4e9974;
}
.root-dark {
  background: #386641;
}

.root-light-text {
  color: #ffd58b;
}
.root-yellow-text {
  color: #ffbd4a;
}
.root-orange-text {
  color: #af572d;
}
.root-green-text {
  color: #af572d;
}
.root-dark-text {
  color: #1b1b12;
}

/* -- -- -- */

/* -- responsive -- */
/* small */

.logo {
  width: 64px;
}

.logo-type {
  font-size: 2.5rem;
}

h4 {
  font-size: 1.9rem;
}

/* medium */
@media only screen and (min-width: 601px) {
  h4 {
    font-size: 2.28rem;
  }

  .logo {
    width: 128px;
  }

  .logo-type {
    font-size: 2.92rem;
  }
}

/* -- -- -- */

a {
  font-family: 'Courier New', Courier, monospace;
  font-weight: 300;
}

.text-monospace {
  font-family: 'Courier New', Courier, monospace;
  font-weight: 300;
}

.shadow-text {
  text-shadow: 0 1px 4px #131313;
}

.underlined {
  border-bottom: 2px solid #555555;
}

.tabs {
  background: transparent !important;
}

.tabs .tab a {
  color: #999999;
}

.tabs .tab a:hover,
.tabs .tab a.active {
  color: #ffffff;
}

.tabs .indicator {
  height: 1px;
  background-color: transparent;
}

.contact-link {
  font-size: 1.4rem;
  line-height: 1.4rem;
}
