<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <!-- Primary Meta Tags -->
    <title>Root Kings</title>
    <meta name="title" content="Root Kings" />
    <meta
      name="description"
      content="Root Kings is a software development company based in Nagpur. We ship beautiful web, mobile and desktop applications for you."
    />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://rootkings.dev/" />
    <meta property="og:title" content="Root Kings" />
    <meta
      property="og:description"
      content="Root Kings is a software development company based in Nagpur. We ship beautiful web, mobile and desktop applications for you."
    />
    <meta property="og:image" content="https://rootkings.dev/banner.png" />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="https://rootkings.dev/" />
    <meta property="twitter:title" content="Root Kings" />
    <meta
      property="twitter:description"
      content="Root Kings is a software development company based in Nagpur. We ship beautiful web, mobile and desktop applications for you."
    />
    <meta property="twitter:image" content="https://rootkings.dev/banner.png" />

    <meta name="author" content="Root Kings" />

    <link rel="shortcut icon" href="/logo.png" type="image/png" />
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" href="/logo.png" />

    <link rel="manifest" href="manifest.json" />

    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="application-name" content="Root Kings" />
    <meta name="apple-mobile-web-app-title" content="Root Kings" />
    <meta name="theme-color" content="#131415" />
    <meta name="msapplication-navbutton-color" content="#131415" />
    <meta
      name="apple-mobile-web-app-status-bar-style"
      content="black-translucent"
    />
    <meta name="msapplication-starturl" content="/" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <link rel="stylesheet" href="/css/lib/dayshmookh.layout.css" />
    <link rel="stylesheet" href="/css/lib/MaterialIcons.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/lib/dayshmookh.gradients.css" />
    <link rel="stylesheet" href="/css/style.css" />

    <!-- push notifications -->
    <!-- <script src="https://cdn.onesignal.com/sdks/OneSignalSDK.js" async=""></script> -->
    <!-- <script>
      window.OneSignal = window.OneSignal || [];
      OneSignal.push(function() {
        OneSignal.init({
          appId: "b14cb79c-9498-4e96-8718-eb4bebdb0bc2",
          notifyButton: {
            enable: true,
          },
        });
      });
    </script> -->
  </head>
  <body>
    <header class="padded-top-compact hide-on-small-only">
      <div class="container">
        <div class="row valign-wrapper no-margin">
          <div class="col s3 right-align">
            <img src="/images/logo_white.png" alt="logo" class="logo" />
          </div>
          <div class="col s9 valign-wrapper">
            <h3 class="light strong white-text shadow-text logo-type">
              Root Kings
            </h3>
          </div>
        </div>
      </div>
    </header>

    <header class="padded-top-compact hide-on-med-and-up">
      <div class="container">
        <div class="row no-margin">
          <div class="col s12 m3 center-align">
            <img src="/images/logo_white.png" alt="logo" class="logo" />
          </div>
          <div class="col s12 m9">
            <h3
              class="light strong white-text shadow-text logo-type center no-margin margined-bottom-comfortable"
            >
              Root Kings
            </h3>
          </div>
        </div>
      </div>
    </header>

    <main id="app">
      <div class="container">
        <div class="row">
          <div class="col hide-on-small-only m3 l2 padded-top-cozy">
            <ul class="section table-of-contents">
              <li>
                <a
                  @click="showSection('introduction')"
                  :class="{active: section == 'introduction'}"
                >
                  Introduction
                </a>
              </li>
              <li>
                <a
                  @click="showSection('clients')"
                  :class="{active: section == 'clients'}"
                >
                  Clients
                </a>
              </li>
              <li>
                <a
                  @click="showSection('team')"
                  :class="{active: section == 'team'}"
                >
                  Team
                </a>
              </li>
              <li>
                <a
                  @click="showSection('contact')"
                  :class="{active: section == 'contact'}"
                >
                  Contact
                </a>
              </li>
            </ul>
          </div>

          <div class="center hide-on-med-and-up">
            <ul class="tabs">
              <li class="tab">
                <a
                  @click="showSection('introduction')"
                  :class="{active: section == 'introduction'}"
                >
                  <i class="material-icons">info</i>
                </a>
              </li>
              <li class="tab">
                <a
                  @click="showSection('clients')"
                  :class="{active: section == 'clients'}"
                >
                  <i class="material-icons">business</i>
                </a>
              </li>
              <li class="tab">
                <a
                  @click="showSection('team')"
                  :class="{active: section == 'team'}"
                >
                  <i class="material-icons">people</i>
                </a>
              </li>
              <li class="tab">
                <a
                  @click="showSection('contact')"
                  :class="{active: section == 'contact'}"
                >
                  <i class="material-icons">phone</i>
                </a>
              </li>
            </ul>
          </div>

          <div class="col s12 m9 offset-l1 l9">
            <div id="introduction" v-if="section == 'introduction'">
              <h4 class="light margined-bottom-comfortable">
                <span class="underlined">Introduction</span>
              </h4>

              <p class="light grey-text text-lighten-3">
                Starting out as a team for summer projects, we banded together
                as partners in a startup to make technology fun and accessible
                for everyone.
              </p>
              <p class="light grey-text text-lighten-3">
                We are a startup based in Nagpur working on latest in web, data
                science, internet of things, cloud computing and advancements in
                software trying to build a better future for all humanity.
              </p>

              <div
                class="btn margined-top-comfortable white black-text cta"
                @click="showSection('contact')"
              >
                Get in touch
                <i class="material-icons right">arrow_forward</i>
              </div>
            </div>

            <div id="clients" v-if="section == 'clients'">
              <h4 class="light margined-bottom-comfortable">
                <span class="underlined">Clients</span>
              </h4>

              <div class="row">
                <div
                  class="col s12 m6"
                  v-for="client in clients"
                  :key="client.codename"
                >
                  <div class="user valign-wrapper">
                    <img
                      class="avatar"
                      :src="'/images/clients/' + (client.g ? 'generic' : client.codename) + '.png'"
                      :alt="client.name +'\'s Photo'"
                    />

                    <span class="username">{{ client.name }}</span>
                    <a
                      :href="client.web"
                      class="tooltipped"
                      data-position="top"
                      data-tooltip="Open Website"
                      v-if="client.web"
                      target="_blank"
                    >
                      <i class="material-icons tiny right blue-text">public</i>
                    </a>
                    <a
                      :href="client.app"
                      class="tooltipped"
                      data-position="top"
                      data-tooltip="Visit App"
                      v-if="client.app"
                      target="_blank"
                    >
                      <i class="material-icons tiny right green-text"
                        >android</i
                      >
                    </a>
                  </div>
                </div>
              </div>
            </div>

            <div id="team" v-if="section == 'team'">
              <h4 class="light margined-bottom-comfortable">
                <span class="underlined">Team</span>
              </h4>

              <div class="row">
                <div
                  class="col s12 m6"
                  v-for="member in team"
                  :key="member.github"
                >
                  <a
                    class="user valign-wrapper"
                    :href="'https://github.com/'+member.github"
                    target="_blank"
                  >
                    <img
                      class="avatar"
                      :src="'https://github.com/'+member.github+'.png'"
                      :alt="member.name +'\'s Photo'"
                    />

                    <span class="username dotted-link">{{ member.name }}</span>
                  </a>
                </div>
              </div>
            </div>

            <div id="contact" v-if="section == 'contact'">
              <h4 class="light margined-bottom-comfortable">
                <span class="underlined">Contact</span>
              </h4>

              <p class="light contact-link">
                <a
                  class="grey-text text-lighten-3"
                  href="mailto:contact@rootkings.dev"
                >
                  <i class="material-icons left">email</i>
                  <span class="dotted-link">contact@rootkings.dev</span>
                </a>
              </p>
              <p class="light contact-link">
                <a class="grey-text text-lighten-3" href="tel:+918800193714">
                  <i class="material-icons left">phone</i>
                  <span class="dotted-link">+91 88001 93714</span>
                </a>
              </p>
              <p class="light contact-link">
                <a class="grey-text text-lighten-3" href="tel:+917767060939">
                  <i class="material-icons left">phone</i>
                  <span class="dotted-link">+91 77670 60939</span>
                </a>
              </p>
              <p class="light contact-link">
                <a class="grey-text text-lighten-3" href="https://www.google.com/maps/place/Pauni,+Maharashtra+441910/@20.7895779,79.6246576,15z/data=!3m1!4b1!4m8!1m2!2m1!1s5km+stone+pauni+bhandara+road!3m4!1s0x3a2b58afa3dcc853:0x8b4f90c73de6335f!8m2!3d20.7938803!4d79.6368375">
                  <i class="material-icons left">place</i>
                  <span class="dotted-link">5km Stone, Pauni Bhandara SH 87 <br> Pauni - 441910
                  </span>
                </a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </main>

    <footer class="page-footer">
      <div class="footer-copyright">
        <div class="container center grey-text text-monospace">
          &copy; 2021 Root Kings. All Rights Reserved.
        </div>
      </div>
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script>
      var app = new Vue({
        el: '#app',
        data: {
          section: 'introduction',

          projects: [],

          clients: [
            {
              codename: 'sparc',
              name: 'Sparc Associates',
              web: 'http://sparcassociates.com',
              app: '',
            },
            {
              codename: 'humbleshit',
              name: 'Humbleshit',
              web: 'https://humbleshit.com',
              app: '',
            },
            {
              codename: 'stoq',
              name: 'STOQ Club',
              web: 'https://stoq.club',
              app:
                'https://play.google.com/store/apps/details?id=club.stoq.app',
            },
            {
              codename: 'naai',
              name: 'Naai',
              web: 'https://naai.co.in',
              app: '',
            },
            {
              codename: 'ssevents',
              name: 'SS Events',
              web: 'https://sgyaanevents.com',
              app: '',
            },
            {
              codename: 'superrfan',
              name: 'Superrfan',
      
              web: '',
              app: '',
            },
            {
              codename: 'rainbow-creations',
              name: 'Rainbow Creations',
              web: 'http://rainbow-creations.in',
              app: '',
            },
            {
              codename: 'numerio',
              name: 'Numerio',
              g: true,
              web: 'http://numerio.in',
              app: '',
            },
            {
              codename: 'iwm',
              name: 'Indian Web Mart',
              web: '',
              app: '',
            },
            {
              codename: 'syslogyx',
              name: 'Syslogyx',
              web: '',
              app: '',
            },
            {
              codename: 'cii',
              name: 'CII',
              g: true,
              web: '',
              app: '',
            },
            {
              codename: 'klathrate',
              name: 'Klathrate',
              web: '',
              app: '',
            },
            {
              codename: 'quanram',
              name: 'Quanram',
              g: true,
              web: '',
              app: '',
            },
            {
              codename: 'rupee-rabbit',
              name: 'Rupee Rabbit',
              g: true,
              web: '',
              app: '',
            },
            {
              codename: 'adlon',
              name: 'Adlon',
              g: true,
              web: '',
              app: '',
            },
            {
              codename: 'global-shapers',
              name: 'Global Shapers Community Nagpur',  
              web: '',
              app: '',
            },
            {
              codename: 'ofaj',
              name: 'Ordnance Factory Ambajhari',
              web: '',
              app: '',
            },
            {
              codename: 'ghrce',
              name: 'G. H. Raisoni College of Engineering',
              web: '',
              app: '',
            },
            {
              codename: 'agneepankh',
              name: 'Agneepankh',
              web: '',
              app: '',
            },
            {
              codename: 'dayshmookh-health',
              name: 'Dayshmookh Health',
              web: '',
              app: '',
            },
          ],

          team: [
            { name: 'Shivangi Shukla', github: 's-shivangi' },
            { name: 'Krushn Dayshmookh', github: 'krushndayshmookh' },
            { name: 'Vithika Jha', github: 'vithikaa' },
            { name: 'Shreyas Malewar', github: 'shreyasmalewar' },
            { name: 'Sharvari Dhomne', github: 'sharvaridhomne' },
            { name: 'Tushar Joshi', github: 'tushar2179' },
            { name: 'Sahil Kindarle', github: 'SahilKindarle' },
            { name: 'Mrunal Singh Zire', github: 'mszire' },
            { name: 'Aditi Sulke', github: 'aditisulke' },
            { name: 'Pratik Pithore', github: 'Pratik-sys' },
            { name: 'Kaushal Agnihotri', github: 'kaushalagnihotri' },
            { name: 'Rushika Nalamwar', github: 'rushikanalamwar' },
          ],
        },

        updated() {
          M.AutoInit()
        },

        methods: {
          showSection(section) {
            this.section = section
          },
        },
      })
    </script>

    <script type="module">
      import 'https://cdn.jsdelivr.net/npm/@pwabuilder/pwaupdate'

      const el = document.createElement('pwa-update')
      document.body.appendChild(el)
    </script>
  </body>
</html>
