<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Welcome - Root Kings</title>

    <link rel="shortcut icon" href="/logo.png" type="image/png" />
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />

    <link rel="stylesheet" href="/css/lib/materialize.min.css" />
    <link rel="stylesheet" href="/css/lib/dayshmookh.layout.css" />
    <link rel="stylesheet" href="/css/lib/MaterialIcons.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/lib/dayshmookh.gradients.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  </head>
  <body>
    <header>
      <nav class="root-dark">
        <div class="nav-wrapper">
          <!-- <a href="/" class="brand-logo">
            <img src="/images/logo_white_nav.png" alt="logo" />
          </a> -->
          <a href="#" data-target="mobile-nav" class="sidenav-trigger">
            <i class="material-icons">menu</i>
          </a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="#about">about</a></li>
            <!-- <li><a href="#portfolio">portfolio</a></li> -->
            <!-- <li><a href="#clients">clients</a></li> -->
            <!-- <li><a href="#products">products</a></li> -->
            <li><a href="#team">team</a></li>
            <li><a href="#contact">contact</a></li>
          </ul>
        </div>
      </nav>
      <ul class="sidenav" id="mobile-nav">
        <li><a href="#about">about</a></li>
        <!-- <li><a href="#portfolio">portfolio</a></li> -->
        <!-- <li><a href="#clients">clients</a></li> -->
        <!-- <li><a href="#products">products</a></li> -->
        <li><a href="#team">team</a></li>
        <li><a href="#contact">contact</a></li>
      </ul>
    </header>
    <main id="app">
      <section class="root-dark">
        <div class="container">
          <div class="row">
            <div class="col s8 m4 offset-s2">
              <div class="center">
                <img src="/images/logo_white.png" alt="logo" class="full-width"/>
              </div>
            </div>
            <div class="col s12 m8 margined-bottom-comfortable">
              
              <h1 class="light strong white-text shadow-text">Root Kings</h1>
              <h4 class="text-monospace"> > Building the future</h4>
            </div>
            </div>
          </div>
        </div>
        
      </section>

      <section id="about">
        <div class="container">
          <div class="row">
            <div class="col s12 padded-top-cozy padded-bottom-cozy">
              <h1 class="light">
                <span class="underlined">about us</span>
              </h1>
            </div>

            <div
              class="col s12 m7 padded-bottom-cozy "
            >
              <p class="light flow-text">
                Starting out as a team for summer projects, we banded together
                as partners in a startup to make technology fun and accessible
                for everyone.
              </p>
              <p class="light flow-text">
                We are a startup based in Nagpur working on latest in web, data
                science, internet of things, cloud computing and advancements in
                software trying to build a better future for all humanity.
              </p>
            </div>

            <div class="col s12 m5 padded-left-cozy padded-right-cozy">
              <img
                src="/images/section-bg/about.svg"
                alt=""
                class="section-bg"
              />
            </div>
          </div>
        </div>
      </section>

      <!-- <section id="projects">
        <div class="container">
          <div class="row">
            <div class="col s12 padded-cozy">
              <h1 class="light">projects</h1>
            </div>

            <div
              class="col s12 padded-bottom-cozy padded-left-cozy padded-right-cozy"
            >
              <div class="row">
                <div v-for="project in projects" class="col s12 m6 l4">
                  <div class="card">
                    <div class="card-image">
                      <img src="/images/office.jpg" alt="" />
                    </div>
                    <div class="card-content">
                      <span class="card-title">{{ project.title }}</span>
                      <p>{{ project.text }}</p>
                    </div>
                    <div class="card-action">
                      <a href="#!" class="btn btn-flat root-orange-text">
                        <i class="material-icons left">web</i> Homepage
                      </a>
                      <a href="#!" class="btn btn-flat root-orange-text">
                        <i class="material-icons left">code</i> GitHub
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section> -->

      <section id="team">
        <div class="container">
          <div class="row">
            <div class="col s12 padded-bottom-cozy">
              <h1 class="light">
                <span class="underlined">team</span>
              </h1>
            </div>

            <div
              class="col s12 padded-bottom-cozy"
            >
              <div class="row">
                <div
                  class="col s12 m6 l4"
                  v-for="member in team"
                  :key="member.github"
                >
                  <div class="card">
                    <div class="card-image">
                      <img
                        :src="'https://github.com/'+member.github+'.png'"
                        alt=""
                        class="zoomer"
                      />
                    </div>
                    <div class="card-content">
                      <span>{{ member.name }}</span>
                      <a
                        class="right"
                        :href="'https://github.com/'+member.github"
                      >
                        <i class="material-icons">launch</i>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section id="contact">
        <div class="container">
          <div class="row">
            <div class="col s12 padded-bottom-cozy">
              <h1 class="light">
                <span class="underlined">contact us</span>
              </h1>
            </div>

            <div
              class="col s12 padded-bottom-cozy"
            >
              <p class="light contact-link">
                <a href="mailto:contact@rootkings.dev">
                  <i class="material-icons left">email</i>
                  contact@rootkings.dev</a>
              </p>
              <p class="light contact-link">
                <a href="tel:+917767060939">
                  <i class="material-icons left">phone</i>
                  +91 776 706 0939</a>
              </p>
            </div>

            <!-- <div class="col s12 m5 padded-left-cozy padded-right-cozy">
							<img src="/images/section-bg/contact.svg" alt="" class="section-bg">
						</div> -->
          </div>
        </div>
      </section>

      <!-- <section id="portfolio" class="root-dark">
        <div class="container">
          <div class="row">
            <div class="col s12 padded-cozy">
              <h1 class="light white-text">
                our portfolio
              </h1>
            </div>

            <div class="col s12 padded-bottom-cozy padded-left-cozy padded-right-cozy">
              <div class="row">
								<div class="col s12 m6 l4">
									<div class="card">
										<div class="card-image">
											<img src="/images/office.jpg" alt="">
										</div>
										<div class="card-content">
											<span class="card-title">Project 1</span>
											<p>Website</p>
										</div>
										<div class="card-action">
											<a href="#!" class="btn btn-flat root-orange-text">
												<i class="material-icons left">web</i> Homepage
											</a>
											<a href="#!" class="btn btn-flat root-orange-text">
												<i class="material-icons left">code</i> GitHub
											</a>
										</div>
									</div>
								</div>
								<div class="col s12 m6 l4">
									<div class="card">
										<div class="card-image">
											<img src="/images/office.jpg" alt="">
										</div>
										<div class="card-content">
											<span class="card-title">Project 1</span>
											<p>Website</p>
										</div>
										<div class="card-action">
											<a href="#!" class="btn btn-flat root-orange-text">
												<i class="material-icons left">web</i> Homepage
											</a>
											<a href="#!" class="btn btn-flat root-orange-text">
												<i class="material-icons left">code</i> GitHub
											</a>
										</div>
									</div>
								</div>
								<div class="col s12 m6 l4">
									<div class="card">
										<div class="card-image">
											<img src="/images/office.jpg" alt="">
										</div>
										<div class="card-content">
											<span class="card-title">Project 1</span>
											<p>Website</p>
										</div>
										<div class="card-action">
											<a href="#!" class="btn btn-flat root-orange-text">
												<i class="material-icons left">web</i> Homepage
											</a>
											<a href="#!" class="btn btn-flat root-orange-text">
												<i class="material-icons left">code</i> GitHub
											</a>
										</div>
									</div>
								</div>
								<div class="col s12 m6 l4">
									<div class="card">
										<div class="card-image">
											<img src="/images/office.jpg" alt="">
										</div>
										<div class="card-content">
											<span class="card-title">Project 1</span>
											<p>Website</p>
										</div>
										<div class="card-action">
											<a href="#!" class="btn btn-flat root-orange-text">
												<i class="material-icons left">web</i> Homepage
											</a>
											<a href="#!" class="btn btn-flat root-orange-text">
												<i class="material-icons left">code</i> GitHub
											</a>
										</div>
									</div>
								</div>
								<div class="col s12 m6 l4">
									<div class="card">
										<div class="card-image">
											<img src="/images/office.jpg" alt="">
										</div>
										<div class="card-content">
											<span class="card-title">Project 1</span>
											<p>Website</p>
										</div>
										<div class="card-action">
											<a href="#!" class="btn btn-flat root-orange-text">
												<i class="material-icons left">web</i> Homepage
											</a>
											<a href="#!" class="btn btn-flat root-orange-text">
												<i class="material-icons left">code</i> GitHub
											</a>
										</div>
									</div>
								</div>
								<div class="col s12 m6 l4">
									<div class="card">
										<div class="card-image">
											<img src="/images/office.jpg" alt="">
										</div>
										<div class="card-content">
											<span class="card-title">Project 1</span>
											<p>Website</p>
										</div>
										<div class="card-action">
											<a href="#!" class="btn btn-flat root-orange-text">
												<i class="material-icons left">web</i> Homepage
											</a>
											<a href="#!" class="btn btn-flat root-orange-text">
												<i class="material-icons left">code</i> GitHub
											</a>
										</div>
									</div>
								</div>
								<div class="col s12 m6 l4">
									<div class="card">
										<div class="card-image">
											<img src="/images/office.jpg" alt="">
										</div>
										<div class="card-content">
											<span class="card-title">Project 1</span>
											<p>Website</p>
										</div>
										<div class="card-action">
											<a href="#!" class="btn btn-flat root-orange-text">
												<i class="material-icons left">web</i> Homepage
											</a>
											<a href="#!" class="btn btn-flat root-orange-text">
												<i class="material-icons left">code</i> GitHub
											</a>
										</div>
									</div>
								</div>
							</div>
						</div>

						!-- <div class="col s12 m5 padded-left-cozy padded-right-cozy">
							<img src="/images/section-bg/about.svg" alt="" class="section-bg">
						</div> --
          </div>
				</div>



      </section> -->
    </main>

    <footer class="page-footer white darken-2">
      <div class="footer-copyright">
        <div class="container center black-text text-monospace">
          &copy Copyright 2020 Root Kings.
        </div>
      </div>
    </footer>

    <script src="/js/lib/materialize.min.js"></script>
    <script src="/js/init.js"></script>
  </body>
</html>

<script>
  var app = new Vue({
    el: '#app',
    data: {
      projects: [
        {
          title: 'Humbleshit',
          text: 'App for facility management',
        },
        { title: 'STOQ', text: 'Trading automated strategies' },
        { title: 'Naai', text: 'Online Service Booking App' },
        { title: 'Quanrum', text: 'TradeBot' },
        { title: 'Clavi', text: 'Academic Assistant' },
        { title: 'Flora', text: 'Farm Assistant App' },
        { title: 'Liberty', text: 'Library Booking System' },
        { title: 'GHRCE Feedback', text: 'Feedback Collection System' },
        { title: 'Crunch', text: 'Canteen Manager' },
      ],

      team: [
        { name: 'Krushn Dayshmookh', github: 'krushndayshmookh' },
        { name: 'Shivangi Shukla', github: 'ShivangiShukla21' },
        { name: 'Sharvari Dhomne', github: 'sharvaridhomne' },
	{ name: 'Kaushal Agnihotri', github: 'kaushalagnihotri' },
        { name: 'Tushar Joshi', github: 'tushar2179' },
        { name: 'Sahil Kindarle', github: 'SahilKindarle' },
        { name: 'Vithika Jha', github: 'vithikaa' },
        { name: 'Mrunal Singh Zire', github: 'mszire' },
        { name: 'Aditi Sulke', github: 'aditisulke' },
        { name: 'Pratik Pithore', github: 'Pratik-sys' },
        { name: 'Rushika Nalamwar', github: 'rushikanalamwar' },
      ],
    },
  })
</script>
